$spacer: 1rem;
$blue: #007db8;
$white: #fff;

$primary: #15376D;
$primary-light: #F2F7F8;

$drak: #111827;
$light-drak: #374151;

@import './Menu/menu.scss';
@import './studio-header/StudioHeader.scss';

.dropdown-item a {
  text-decoration: none;
}

.icon-button {
  display: inline-flex;
  line-height: 3rem;
  background: transparent;
  vertical-align: middle;
  text-align: center;
  border: none;
  height: 3rem;
  width: 3rem;
  padding: .75rem;
  justify-content: center;
  align-items:center;
  &:hover, &:focus {
    background: rgba(0,0,0,.1);
  }
}

.learning-header {
  min-width: 0;
  display: flex;
  flex-direction: column;

  .header-container {
    display: flex;
    height: 48px;
    justify-content: center;

    @include media-breakpoint-up(lg) {
      height: 80px;
    }
  
    .header-logo {
      align-items: center; 
      justify-content: space-between; 
      position: relative;
      width: 100%;
  
      .link-logo {
        margin: 0 !important;
  
        @include media-breakpoint-up(lg) {
          margin: 0 8px 0 0 !important;
        }
  
        img {
          height: 40px;
          @include media-breakpoint-up(lg) {
              height: 60px;
          }
        }
      }
  
      .full-name-container {
        display: none;
        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: column; 
            width: 220px;
            align-items: flex-start;
            align-self: center;
            font-weight: 700;
            line-height: 1.5rem;
            .full-name-th {
                font-size: 1rem;
            }
            .full-name-en {
                font-size: 0.75rem;
            }
        }
      }
  
      .course-title-lockup {
        min-width: 0;
        flex-direction: column;
        display: none !important;
        width: 220px;
        flex-grow: unset !important;
        align-self: center;
        gap: 8px;
    
        @include media-breakpoint-up(lg) {
          display: flex !important;
        }
    
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-bottom: 0.1rem;
        }
      }

      .dropdown-conotainer {
        display: flex;

        .user-dropdown {
          .btn {
            height: 3rem;
            // @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
            //   padding: 0 0.5rem;
            // }
          }
        }
      
        .login-button {
          display: none;
      
          @include media-breakpoint-up(lg) {
            display: unset;
          }
      
          height: 40px;
          padding: 9px 17px;
          font-size: 0.875rem;
          border-radius: 6px;
          font-weight: 500;
        }
      }
    }
  }

  .banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #2D2D2D;

    @include media-breakpoint-up(lg) {
      height: 140px;
    }

    .banner-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1090px;
      margin: 16px 0 0 48px;

      h1, h2 {
        color: white;
        font-weight: 700;
        text-align: start;
        margin: 0;
      }

      h1 {
        font-size: 1rem;
      }

      h2 {
        font-size: 0.75rem;
      }

      @include media-breakpoint-up(lg) {
        margin: 24px 0 0 224px;

        h1, h2 {
          font-size: revert;
        }
      }
    }
  }

  .hamburger-react {
    width: 20px !important;
    height: 17px !important;
    left: 8px;

    div div {
      height: 2px !important;
      width: 20px !important;
      left: 0 !important;
    }

    :first-child div {
      top: 0 !important;
    }

    :nth-child(2) div {
      top: 6px !important;
    }

    :last-child div {
      top: 12px !important;
    }
  }

  .hamburger-react[aria-expanded="true"] {
    :first-child {
      transform: translateY(6px) !important;
      div {
        transform: rotate(45deg) !important;
      }
    }
    :last-child {
      transform: translateY(-6px) !important;
      div {
        transform: rotate(-45deg) !important;
      }
    }
  }

  .mobile-menu {
    position: absolute;
    left: 0;
    top: 48px;
    z-index: 9999;
    margin: 0;
    border: none;
    border-bottom: 2px solid $primary;
    border-top: 2px solid $primary;
    width: 100%;
    .mobile-nav-link {
        a {
            display: flex;
            height: 52px;
            font-weight: normal;
            padding: 16px;
            font-size: 14px;
            line-height: 20px;
            color: $light-drak;
            border: none;
            background-color: $white;
            &:hover, &.active {
                background: $primary-light;
                color: $drak;
            }
        }
    }
  }
}

.site-header-mobile,
.site-header-desktop {
  position: relative;
  z-index: 1000;
}

.site-header-mobile {
  height: 3rem;

  .nav-link {
    text-decoration: none;
    cursor: pointer;
  }
  img {
    height: 1.5rem;
  }
}


.site-header-desktop {
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  background: $white;
  .nav-link {
    text-decoration: none;
  }
  .logo {
    display: block;
    box-sizing: content-box;
    position: relative;
    top: -.05em;
    height: 1.75rem;
    padding: 1rem 0;
    margin: 0 !important;

    @include media-breakpoint-up(lg) {
      margin-right: 8px !important;
  }

    img {
      height: 40px;
      @include media-breakpoint-up(lg) {
          height: 60px;
      }
    }
  }
  .main-nav {
    .nav-link {
      padding: 1.125rem 1rem;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: .01em;
    }
    .nav-link:hover,
    .nav-link:focus,
    .nav-link.active,
    .expanded .nav-link {
      background: $component-active-bg;
      color: $component-active-color;
    }
    .menu {
      position: static;
      .menu-content {
        border-top: solid 2px $component-active-bg;
        left: 0;
        right: 0;
        box-shadow: 0 1px 2px rgba(0,0,0,.25);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: 1rem;
      }
    }
  }
  .search-input {
    border-radius: $rounded-pill;
  }
}
